@font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/static/WorkSans-Regular.woff')format('woff');
    src: url('./assets/fonts/static/WorkSans-Regular.ttf')format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/static/WorkSans-SemiBold.woff')format('woff');
    src: url('./assets/fonts/static/WorkSans-SemiBold.ttf')format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/static/WorkSans-Bold.woff')format('woff');
    src: url('./assets/fonts/static/WorkSans-Bold.ttf')format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Polices */
    --font-family: 'Work Sans', sans-serif;
    --font-regular: 400;
    --font-bolder: 700;
    --font-bold: 600;
    /* Couleurs */
    --White: hsl(0, 100%, 100%);
    --Purple-low: hsl(278, 10%, 79%);
    --Purple-bold: hsl(292, 16%, 49%);
    --Purple-bolder: hsl(292, 42%, 14%);
    /* Effet */
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url('./assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: 380px;
    background-position: top;
    background-color: var(--Purple-low);
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--Purple-bolder);
}

.container {
    max-height: 440px;
    background: var(--White);
    max-width: 90%;
    position: relative;
    top: 9em;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px var(--Purple-bold);
}

.faq-title {
    display: flex;
    gap: 1em;
    padding-left: 1em;
}

#icon-title {
    width: 1.5em;
}

.faq-item,
.faq-title {
    margin: 1em 1em;
}

.faq-item label {
    cursor: pointer;
    display: flex;
    padding: 1em 1.3em;
    font-size: 14px;
    color: var(--Purple-bolder);
    font-weight: 600;
}

label::after {
    content: url('./assets/images/icon-plus.svg');
    position: absolute;
    right: 5px;
}

input[type="radio"] {
    display: none;
}

.faq-item .answer {
    padding: 0 1em;
    color: var(--Purple-low);
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.faq-item input[type="radio"]:checked+label+.answer {
    max-height: 200px;
}

.faq-item input[type="radio"]:checked+label::after {
    content: url('./assets/images/icon-minus.svg');
}

/* footer */
.attribution {
    font-size: 10px;
    text-align: center;
    position: fixed;
    bottom: 5px;
}

.attribution a {
    color: var(--Purple-bold);

}

/* Responsive */
@media screen and (min-width: 375px) {
    body {
        background: url('./assets/images/background-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-color: var(--Purple-low);
        background-size: 1060px;
    }

    .container {
        max-width: 80%;
        max-height: 420px;
    }
}

@media screen and (min-width: 420px) {
    .container {
        /* max-width: 70%; */
        max-height: 470px;
    }

    .faq-item label,
    .faq-item .answer {
        font-size: 16px;
    }
}

@media screen and (min-width: 525px) {
    .container {
        max-width: 70%;
        max-height: 450px;
    }
}

@media screen and (min-width: 535px) {
    .container {
        max-width: 60%;
        max-height: 470px;
    }
}

@media screen and (min-width: 613px) {
    .container {
        max-height: 450px;
    }
}

@media screen and (min-width: 800px) {
    .container {
        max-width: 50%;
        max-height: 430px;
    }

    .faq-item label:hover {
        color: var(--Purple-bold);
    }
}